
.Filter{
    width: 80%;
    margin: 1rem auto;
}

.Filter_box{
    display: flex;
    justify-content: space-between;
}

.Filter_box_left_search{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    padding-inline: 1rem;
    background-color: rgba(0,0,0,0.25);
    color: #8a2be2;
}

.Filter_box_left_search input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    color: #8a2be2;
    width: 20rem;
}

.Filter_box_right{
    display: flex;
    gap: 1rem;
}

.Filter_box_right button{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: rgba(0,0,0,0.25);
    border: none;
    outline: none;
    color: #8a2be2;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.Filter_model{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #ffffff;
    z-index: 2222222222;
}

@media only screen and ( max-width: 35em ) {
    .Filter{
        width: 90%;
    }
    .Filter_box{
        flex-direction: column;
        gap: 1rem;
    }

    .Filter_box_left_search input{
        width: 100%;
    }
    
    .Filter_box_right button{
        font-size: .7rem;
    }

    .Filter_model{
        position: absolute;
        inset: 0 0 -70% 0;
    }

    .Filter_box_right button{
        font-size: .8rem;
    }
}