
.Error{
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 1111111111;
    margin: 0 auto;
    background-color: #938787;
    border-radius: 1rem;
    padding: 2rem;
    border-radius: 50px;
    background: #8a2be2;
    box-shadow: 5px 5px 10px #6b23b8,
                -5px -5px 10px #a13cff;
}

@media only screen and (max-width: 35em) {
    .Error{
        inset: 10% 10% 55% 10%;
    }
    
}